*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    position: fixed;
	width: 100%;
    overflow: hidden;
    z-index: 2;
}
.navbar{
    font-family: 'Nunito', sans-serif; 
}
.bg-transparent{
    transition: 0.75s ease;
}
.bg-transparent.scrolled{
    background: #000 !important;
}
.navbar .navbar-brand{
    padding-left: 20px;
    padding-top: 6px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;

}
.navbar .navbar-brand span{
    color: #f85307;
}
.navbar-nav{
    width: 50%;
    font-size: 19px;
}
.nav-link{
    font-size: 22px;
    padding-left: 100px;
}
button {
    position: relative;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
button:focus {
    outline:none !important;
}
.btn_login:hover {
    background: #ff133a;
    }
.btn_login{
    width: 120px;
    background: #ff133be5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05rem;
    }
.btn_login:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.close-btn{
    float:right;
    top: -60px;
    font-size: 31px;
    color: red;
}
.close-btn:before {
    content: "×";
}

.upper-login{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
    z-index: 2;
}
.animate {
    animation: animatezoom 0.6s
  }
    
@keyframes animatezoom {
    from {top:0%} 
    to {top:50%}
  } 
.form-login{
    background-image: url(img/img-login.jpg);
    background-size: cover;
    height: 500px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white ;
}
.Login-btn{
    color: black;
    background-color: #ff133ad8;
    margin-top: 5%;
    padding: 14px 20px;
    width: 100%;
    font-family:"San Francisco", Helvetica, Arial, sans-serif ;
    border-radius: 20px;
    font-size: 20px;

}
.Login-btn:hover{
    background-color:#ff133a;
}
#Login_text{
    font-weight: bold;
    text-align: left;
    font-family:'Nunito', sans-serif;
    font-size: 30px;
    color: #f85307;
}
#LoginForm input {
    opacity: 0.8;
    width: 90%;
    outline: 0;
    border-width: 0 0 2px;
    font-family: "San Francisco", Helvetica, Arial, sans-serif;
    height: 10%;
    border-color: none;
    transition: all 0.5s ease-in-out;
    margin-top: 50px !important;
  } 
#LoginForm input:focus{
    border-color: #f85307;
    width: 95%;
    opacity: 0.9;
  }
#signup_login{
    font-size: 20px;
    color: rgb(9, 75, 255);
    width: 100%;
    font-family: 'Nunito', sans-serif; 
}

/* Top - Carousel */
.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 100vh;
    overflow: hidden;
  }
.drk:after{
    content:"";
    display: block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5));
}

/* Menu - grid */
.main_menu{
    position: absolute;
    width: 100%;
    background-color: black;
}
.container {
    width: 60%;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
}
.Our_menu{
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #ff6014;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 8px;
    text-align: center;
}
.menu {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: repeat(10, 4vw);
    grid-gap: 1.5rem; 
}
.menu__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}
.menu__item--1 {
    position:relative;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
}
.menu__item--2 {
    position:relative;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
}
.menu__item--3 {
    position:relative;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 10;
}
.menu__item--4 {
    position:relative;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
}
.menu__item--5 {
    position:relative;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 7;
}
.menu__item--6 {
    position:relative;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 10;
}
.menu__item--1 .btn_lun, .menu__item--2 .btn_din, .menu__item--3 .btn_bre, .menu__item--4 .btn_dri, .menu__item--5 .btn_sna, .menu__item--6 .btn_des{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
}
.btn1, .btn2, .btn4, .btn5, .btn6{
    width: 120px;
    background: #ff6014;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05rem;
}
.btn3{
    width: 153px;
    background: #ff6014;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05rem;
}
.btn_des a{
    text-decoration: none;
}
