*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://www.pexels.com/photo/205961/download/?search_query=buffet&tracking_id=vtu65nk2uzn") center no-repeat;
	background-size: cover;
	position: relative;
    overflow: hidden;
}
nav{
    display: flex;
    width: 100%;
    height: 85px;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
}
.nav__logo{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;

}
.nav__logo span{
    color: crimson;
}
a{
	text-decoration: none;
	color: #eee;
}
.nav__links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.nav__links li{
    list-style-type: none;

}

.nav__links a{
    font-size: 19px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: rgba(255, 255, 255);
    position: relative; 
    transition: font-size 0.5s;
}
.nav__links a:hover{
    color: #ff6014;
    font-size: 22px;
}
button {
    position: relative;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
.btn_login:hover {
    border-color: #ff6014;
    background: #ff6014;
    height: 50px;
    font-size: 20px;
    }
.btn_login{
    width: 120px;
    background: #ff133be5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05rem;
    transition:font-size 0.3s, width 0.8s;
    }
.btn_login:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.close-btn{
    float:right;
    margin-top:-55px;
    margin-right:-10px;
    font-size: 31px;

}
.close-btn:before {
    content: "×";
}

.form-login{
    display: none;
    height: 500px;
    width: 500px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.main_menu{
    position: absolute;
    width: 100%;
    background-color: black;
}
.container {
    width: 60%;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
}
.Our_menu{
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #ff6014;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 8px;
    text-align: center;
}
.menu {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: repeat(10, 4vw);
    grid-gap: 1.5rem; 
}
.menu__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}
.menu__item--1 {
    position:relative;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
}
.menu__item--2 {
    position:relative;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
}
.menu__item--3 {
    position:relative;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 10;
}
.menu__item--4 {
    position:relative;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
}
.menu__item--5 {
    position:relative;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 7;
}
.menu__item--6 {
    position:relative;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 10;
}
.menu__item--1 .btn_lun, .menu__item--2 .btn_din, .menu__item--3 .btn_bre, .menu__item--4 .btn_dri, .menu__item--5 .btn_sna, .menu__item--6 .btn_des{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
}
.btn1, .btn2, .btn4, .btn5, .btn6{
    width: 120px;
    background: #ff6014;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05rem;
}
.btn3{
    width: 153px;
    background: #ff6014;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05rem;
}


  


